.solveNav
{
    background-color:var(--bg1);
    color: var(--lighter);
}

.solveNavSections
{
    cursor: pointer;
    margin: 0px;
    padding: 7px;
    transition: 0.3s ease-in-out;
}

.solveNavSections:hover
{
    background-color: var(--light);
}

@media screen and (max-aspect-ratio: 4/3){

    .submitAss
    {
        font-size:16px!important;
        padding: auto;
    }


}