.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    font-family: "Open Sans";
}

.divlanding {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.headingLand {
    /* display: flex;
    justify-content: space-evenly; */
    /* background-color: yellow; */
    padding-left: 100px;
    height: 60%;
    font-size: "80px";
    width: 40%;
}
.headingLand2 {
    display: none;
}

.imageLand {
    /* background-color: beige; */
    width: 50%;
    /* margin-right: 75px; */
    /* height: 40px; */
    /* padding-right: 50px; */
    justify-content: center;
}

h1 {
    font-family: "Open Sans", sans-serif;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.card-header,
.card-footer {
    display: none !important;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(1, 41, 48, 0.5); /* Adjust the shadow values as needed */
}

.home-section-1 {
    display: flex;
    justify-content: space-evenly;
    border-style: none;
    font-family: "Open Sans";
}

.home-section-2 {
    display: flex;
    margin-top: 22px;
    justify-content: center;
    font-family: "Open Sans";
}

.registercollege {
    width: 30%;
}

@media screen and (max-width: 550px) {
    .home-section-1 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 50px !important;
    }
}

@media screen and (max-width: 900px) {
    .registercollege {
        padding: 20px !important;
        width: 80vw !important;
    }

    h2 {
        font-size: 30px !important;
    }
    p {
        font-size: 18px !important;
        padding: 20px;
    }

    h1 {
        font-size: 30px !important;
    }
}

@media screen and (max-aspect-ratio: 4/3) {
    .divlanding {
        flex-direction: column-reverse;
    }
    .imageLand {
        height: 100px;
        /* background-color: aquamarine; */
        width: 100%;
        display: none;
    }
    .headingLand {
        /* padding-left: 0px;

        font-size: "10px" !important;
        width: 50%; */
        display: none;
    }
    .headingLand2 {
        margin-top: 25px;
        display: block;
        /* font-size: "10rem"; */
        text-align: center;
    }
    .divlanding {
        margin-top: 20px !important;
        /* display: flex;
        justify-content: space-between; */
        /* background-color: aquamarine; */
    }
}
