.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--sec);
    font-family: "Open Sans";
}

h1 {
    font-family: "Open Sans", sans-serif;
    justify-content: center;
}

.card-header,
.card-footer {
    display: none !important;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(1, 41, 48, 0.5); /* Adjust the shadow values as needed */
}

.home-section-1 {
    display: flex;
    justify-content: space-evenly;
    border-style: none;
    font-family: "Open Sans";
}

.home-section-2 {
    display: flex;
    margin-top: 22px;
    justify-content: center;
    font-family: "Open Sans";
}

.registercollege {
    width: 30%;
}

@media screen and (max-width: 550px) {
    .home-section-1 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .registercollege {
        padding: 20px !important;
        width: 80vw !important;
    }

    h2 {
        font-size: 30px !important;
    }
    p {
        font-size: 18px !important;
        padding: 20px;
    }
}
