@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Open+Sans&family=Roboto:wght@300;700&display=swap");
:root {
    --high: #37dea8;
    --sec: rgb(19, 31, 56);
    --tert: #3d6973;
    --light: rgb(134, 184, 193);
    --bg1: rgb(13, 15, 26);
    --gradient: linear-gradient(--sec, --tert, --light);
    --lighter: rgba(227, 243, 246);
}

body {
    background: var(--sec) !important;
}
h1 {
    font-family: "Open Sans", sans-serif;
}

.form-label {
    font-family: "Fira Code", monospace;
}

.form-control,
.form-select {
    font-family: "Fira Code", sans-serif;
    color: var(--light);
}

/* .div.fade.modal.show {
    padding-left: 0;
} */
